- provide(:title, "Guide")
%h1.center The guide
.container.center.wot
	%h3 Wolfpup's goal is to make it easier to ask Wolfram Alpha questions that involve complicated math
	%span There isn't much of a reason to use Wolfpup if your math is simple like 
	.mathquill-embedded-latex
		\\sqrt{x}
	or
	.mathquill-embedded-latex
		e^x
	%br
	%br
	%span However, Wolfpup proves usesful when your math is a bit more complicated, such as
	.mathquill-embedded-latex
		\\frac{\left(5e^2 + \int_{\frac{\pi}{3}}^{\frac{\pi}{2}}\sqrt{1+sin^2\left(x\right)}dx\right)}{\sqrt[4]{5}-\log_45}
	%br
	%br
	%p 
		If you were to input this into Wolfram Alpha, your search would look something like: 
		%br
		(((5e^(2)+(integral ((((pi))/(3)) to (((pi))/(2))) (sqrt(1+sin^(2)(x))))))/((4th root of (5))-log4 5))
	%p Not only is that long and cumbersome to type out, but there are so many paranthese to account for. Wolfpup tries to make this as quick and easy as possible


	%h3 How to use
	%p Constructing your math is a simple as typing in what you can, using the buttons provided for the complicated types of input, pressing the submit button, and does the rest.
	%span However, Wolfpup is based on LaTeX, a markup language used in scientific documents, especially for displaying math correctly. This means that Wolfpup also responds to any standard LaTeX input. For example, if you wanted to create a 
	%span.mathquill-embedded-latex
		\\sqrt{}
	%span
		, you would simply type \sqrt followed by a space.
	%h4 Common LaTeX inputs
	.center
		.table
			%ul
				%li
					\\frac + space =
					.mathquill-embedded-latex
						\\frac{}{}
					( you can also just type / )
				%li 
					x^ + space = 
					.mathquill-embedded-latex
						x^2
				%li
					\\sqrt + space =
					.mathquill-embedded-latex
						\\sqrt{}
				%li
					\\nthroot + space = 
					.mathquill-embedded-latex
						\\sqrt[]{}
				%li
					\\pi + space = 
					.mathquill-embedded-latex
						\\pi
				%li
					\\infty + space =
					.mathquill-embedded-latex
						\\infty
				%li
					\\int + space =
					.mathquill-embedded-latex
						\\int
				%li
					\\int_ + space + ^ + space =
					.mathquill-embedded-latex
						\\int_{}^{}
