%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math
		%span.mathquill-editable#input
			\\int_{\pi}^{\tau}\sqrt{1+sin^2\left(x\right)}dx
	.container.submit
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	= render 'layouts/toolbar'
	%p#output1
	%p#output2
