%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math
		%span.mathquill-editable#input
			\\sqrt{1+e^x}
	.container.submit
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	= render 'layouts/toolbar'
	%p#output1
	%p#output2
