%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math
		%span.mathquill-editable#input
			\\frac{\left(\int_{\frac{\pi}{3}}^{\frac{\pi}{2}}cos\left(x\right)dx^5\right)}{84\sqrt[3]{e^x}i}
	.container
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	%p#output1
	%p#output2
