%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math
		%span.mathquill-editable#input
			\\int_1^{\infty}e^xdx
	.container
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	%p#output1
	%p#output2

<script>

function wolfram(){
	alert("hello");
}

</script>