%body
	#main
		%span.mathquill-editable.mathquill-editor#input
			\\sum_{i=1}^{\infty}\left(\frac{1}{x}\right)+5
		%button{:onclick => "wolfram()"} Click me
		%button{:onclick => "append()"} Append
	%p#output1
	%p#output2
	%td.button