%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math.center
		%span.mathquill-editable#input
			\\frac{\left(5e^2 + \int_{\frac{\pi}{3}}^{\frac{\pi}{2}}\sqrt{1+sin^2\left(x\right)}dx\right)}{\sqrt[4]{5}-\log_45}
	.container.submit.center
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	= render 'layouts/toolbar'
	%p#output1
	%p#output2
