%body
	.center.jumbotron
		%h1 Wolf Pup!
		%p Wolfram Alpha's little helper
	.container.math.center
		%span.mathquill-editable#input
			\\int_{\frac{\pi}{3}}^{\frac{\pi}{2}}sin^2\left(x\right)dx
	.container.submit.center
		%button.btn.btn-primary{:onclick => "wolfram()"} Ask Wolfram!
	= render 'layouts/toolbar'
	%p#output1
	%p#output2
