- provide(:title, "Thanks!")
%h1.center Thanks for the message!
%p.center We'll attempt to address your concern ASAP!
.center
	%span.center
		= link_to "Click here ", root_path, method: :get
		to return to the home page.