@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align: center;
}

.container{
	text-align:center;
}

.math {
    padding-bottom: 30px;
}

#input {
	font-size: 200%;
	letter-spacing: 1px;
	margin-top: 40px;
	text-align: center;
	top: auto;
}

.sqrt-prefix{
	font-size: 300%;
}

sup {
    top: -0.25em;
}

sub{
	top: -0.05em;
}


.denominator {
    box-sizing: content-box;
}