.toolbar.center
  .btn-group{"aria-label" => "First group", :role => "group"}
    %img.btn.btn-secondary.tool{:src => 'assets/frac.png', :onclick => "wolf_write('frac')", :type => "button"}
    %img.btn.btn-secondary.tool{:src => 'assets/expo.png', :type => "button", :onclick => "wolf_write('expo')"}
    %img.btn.btn-secondary.tool{:src => 'assets/sqrt.png', :type => "button", :onclick => "wolf_write('sqrt')"}
    %img.btn.btn-secondary.tool{:src => 'assets/nthroot.png', :type => "button", :onclick => "wolf_write('nthroot')"}
    %img.btn.btn-secondary.tool{:src => 'assets/lim.png', :type => "button", :onclick => "wolf_write('lim')"}
    %img.btn.btn-secondary.tool{:src => 'assets/sum.png', :type => "button", :onclick => "wolf_write('sum')"}
    %img.btn.btn-secondary.tool{:src => 'assets/indef_int.png', :type => "button", :onclick => "wolf_write('indef_int')"}
    %img.btn.btn-secondary.tool{:src => 'assets/def_int.png', :type => "button", :onclick => "wolf_write('def_int')"}