.toolbar.center
  .btn-group{"aria-label" => "First group", :role => "group"}

    %img.btn.btn-secondary.tool{:src => 'assets/frac.png', :onclick => "wolf_write('frac')", :type => "button"}

    %img.btn.btn-secondary.tool{:src => 'assets/expo.png', :type => "button", :onclick => "wolf_write('expo')"}

    %img.btn.btn-secondary.tool{:src => 'assets/sqrt.png', :type => "button", :onclick => "wolf_write('sqrt')"}

    %img.btn.btn-secondary.tool{:src => 'assets/nthroot.png', :type => "button", :onclick => "wolf_write('nthroot')"}

    %img.btn.btn-secondary.tool{:src => 'assets/log.png', :type => "button", :onclick => "wolf_write('log')"}

    %img.btn.btn-secondary.tool{:src => 'assets/ln.png', :type => "button", :onclick => "wolf_write('ln')"}

    %img.btn.btn-secondary.tool{:src => 'assets/binom.png', :type => "button", :onclick => "wolf_write('binom')"}

    %img.btn.btn-secondary.tool{:src => 'assets/lim.png', :type => "button", :onclick => "wolf_write('lim')"}

    %img.btn.btn-secondary.tool{:src => 'assets/sum.png', :type => "button", :onclick => "wolf_write('sum')"}

    %img.btn.btn-secondary.tool{:src => 'assets/prod.png', :type => "button", :onclick => "wolf_write('prod')"}

    %img.btn.btn-secondary.tool{:src => 'assets/indef_int.png', :type => "button", :onclick => "wolf_write('indef_int')"}

    %img.btn.btn-secondary.tool{:src => 'assets/def_int.png', :type => "button", :onclick => "wolf_write('def_int')"}

    %img.btn.btn-secondary.tool{:src => 'assets/pi.png', :type => "button", :onclick => "wolf_write('pi')"}

    %img.btn.btn-secondary.tool{:src => 'assets/theta.png', :type => "button", :onclick => "wolf_write('theta')"}





    %img.btn.btn-secondary.tool{:src => 'assets/ge.png', :type => "button", :onclick => "wolf_write('ge')"}

    %img.btn.btn-secondary.tool{:src => 'assets/le.png', :type => "button", :onclick => "wolf_write('le')"}